@import '../../styles/variables';
.Header {
  height: $header-height;
  background-color: $header-dark;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  z-index: 1000;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item.Header__title {
  font-size: 1.5em;
  float: left;
  color: $yellow;
  margin-right: 20px;
  cursor: default;
  &:hover {
    color: $yellow;
  }
}

.Header__Menu {
    width: 100%;
}

.Header__Menu.menu.ui {
  margin-top: 0;
  .Menu__item {
    color: $gray;
    cursor: pointer;
    &:hover {
      transition: all 0.5s;
    }
  }
  .Menu__item-active.item {
    color: $gray-dark;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
  }
  .Util__item.item {
    padding-right: 0;
    padding-left: 0;
    cursor: pointer;
  }
}

.ant-menu-horizontal > .ant-menu-item.Menu__util {
  float: right;
}
