$primary: #2A898C;
$paragraph: #6D6D6D;
$header-height: 46px;
$header-bg-color: #fcfcfc;
$gray: #A7A7A7;
$gray-medium: #ECECEC;
$gray-dark: #2A2827;
$header-dark: #001529;
$border-color: $gray-medium;
$unit: 6px;
// Semantic-UI colors
$red: #db2828;
$orange: #f2711c;
$yellow: #fbbd08;
$olive: #b5cc18;
$green: #21ba45;
$teal: #00b5ad;
$blue: #2185d0;
$violet: #6435c9;
$purple: #a333c8;
$pink: #e03997;
$brown: #a5673f;
